# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
import json
import requests 
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene' : 20}
# Use count_documents to display the number of documents in the result
result = establishments.find(query)

hygiene_result = []
for i in result:
    hygiene_result.append(i)
# Display the first document in the results using pprint

In [7]:
# Convert the result to a Pandas DataFrame
df_hygiene = pd.json_normalize(hygiene_result)

In [8]:
# Display the number of rows in the DataFrame
print(f"there are {len(df_hygiene.index)} rows in this dataframe")

there are 41 rows in this dataframe

In [9]:
# Display the first 10 rows of the DataFrame
df_hygiene.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,641a1ec6fef90adb3a13a94f,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,641a1ec6fef90adb3a13acd0,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,641a1ec6fef90adb3a13afda,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,641a1ec6fef90adb3a13b1c8,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,641a1ec6fef90adb3a13b1d7,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,641a1ec7fef90adb3a13bb76,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,641a1ec7fef90adb3a13bd97,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,641a1ec8fef90adb3a13d2c2,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,641a1ec9fef90adb3a13d706,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,641a1ec9fef90adb3a13df18,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [10]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName' : {'$regex' : 'London'}, 'RatingValue' : {'$gte' : '4'}}
results = establishments.find(query)

# Use count_documents to display the number of documents in the result
print(f"there are {establishments.count_documents(query)} establishments in London with a rating value greater or equal to 4")
# Display the first document in the results using pprint

pprint(establishments.find_one(query))

there are 34 establishments in London with a rating value greater or equal to 4
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('641a1ec7fef90adb3a13c36a'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [11]:
# Convert the result to a Pandas DataFrame
df = pd.json_normalize(results)

In [12]:
# Display the number of rows in the DataFramed
print(f"there are {len(df['_id'])} rows in the dataframe")

there are 34 rows in the dataframe

In [13]:
# Display the first 10 rows of the DataFrame
df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,641a1ec7fef90adb3a13c36a,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,641a1ec8fef90adb3a13c690,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,641a1ec8fef90adb3a13d1dd,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,641a1ec9fef90adb3a13dfdd,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,641a1ec9fef90adb3a13dfde,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,641a1ec9fef90adb3a13e6e6,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,641a1ecbfef90adb3a1407f0,1252616,0,PI/000035653,Froottree,Other catering premises,7841,Tereza Joanne King George V Lock,Woolwich Manor Way London,Charlton,...,0.069325,51.501110,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,641a1ecbfef90adb3a1407f4,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,641a1ecbfef90adb3a140bbb,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,641a1ecbfef90adb3a140bd5,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [84]:
query = {'BusinessName' : 'Penang Flavours'}
pprint(establishments.find_one(query))
print(establishments.find_one(query)['geocode']['latitude'])

{'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'Distance': 4623.972328074718,
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': True,
 'Phone': '',
 'PostCode': 'SE18 7DY',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('641a1ef762b2759a1bdaa142'),
 'geocode': {'latitude': 51.490142, 'longitude': 0.08384},
 'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}}
51.490142

In [85]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
import numpy as np

degree_search = 0.01
latitude = establishments.find_one(query)['geocode']['latitude']
longitude = establishments.find_one(query)['geocode']['longitude']

In [93]:
lon_range = [longitude-degree_search, longitude+degree_search]
lat_range = [latitude-degree_search, latitude+degree_search]

In [120]:
# search must only include latitude+degree_search, latitude-degree_search, longitude+degree_search, and longitude-degree_search
nearby = {'scores.Hygiene': {'$eq' :5}, 'geocode.longitude' : {'$gte' : lon_range[0], '$lte' : lon_range[1]},
          'geocode.latitude' : {'$gte' : lat_range[0], '$lte' : lat_range[1]}}
sort =  [('scores.Hygiene' ,1)]

# Print the results
nearby_results = establishments.find(nearby).sort(sort)

In [121]:
nearby_res = []
for i in nearby_results:
    nearby_res.append(i)

In [122]:
# Convert result to Pandas DataFrame
nearby_df = pd.json_normalize(nearby_res)

In [123]:
nearby_df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,641a1ecbfef90adb3a14015a,1069652,0,PI/000206841,TIWA N TIWA African Restaurant Ltd,Restaurant/Cafe/Canteen,1,152 Plumstead High Street,,Plumstead,...,0.092743,51.487035,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,641a1ecbfef90adb3a1401c7,1516608,0,15205,Plumstead Manor School,School/college/university,7845,Plumstead Manor School Old Mill Road,,Plumstead,...,0.085994,51.481518,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,641a1ecbfef90adb3a1401e1,1415716,0,14784,Ho Wah Chinese Takeaway,Takeaway/sandwich shop,7844,119 Plumstead High Street,,Plumstead,...,0.092009,51.487687,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,641a1ecbfef90adb3a1401e2,1369377,0,14345,London Grocery Store,Retailers - other,4613,27 - 29 Lakedale Road,,Plumstead,...,0.091324,51.487007,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,641a1ecbfef90adb3a140239,694606,0,PI/000116584,Fineway Cash & Carry,Retailers - other,4613,112 Plumstead High Street,,Plumstead,...,0.090938,51.487609,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,641a1ecbfef90adb3a14024d,695287,0,PI/000182135,Lucky Food & Wine,Retailers - other,4613,101 Plumstead High Street,,Plumstead,...,0.091010,51.487893,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,641a1ecbfef90adb3a140268,695566,0,PI/000188497,Premier Express,Retailers - other,4613,102 Plumstead High Street,,Plumstead,...,0.090455,51.487723,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,641a1ecbfef90adb3a140270,695033,0,PI/000172986,Everest Stores Ltd,Retailers - other,4613,104 Plumstead High Street,,Plumstead,...,0.090323,51.487672,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,641a1ecbfef90adb3a14029d,1298993,0,13950,The Plumstead Pantry,Restaurant/Cafe/Canteen,1,16 Warwick Terrace,,Plumstead,...,0.083745,51.481773,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,641a1ecbfef90adb3a1402f8,694596,0,PI/000116263,Spice Island,Restaurant/Cafe/Canteen,1,204 Plumstead Common Road,,Plumstead,...,0.081225,51.480442,None,0001-01-01T00:00:00,0,None,0,0,0,0
10,641a1ecbfef90adb3a14033b,843827,0,PI/000199271,Sushi Kitchen & Pizzeria Italiana,Takeaway/sandwich shop,7844,52 Plumstead High Street,,Plumstead,...,0.088309,51.488679,None,0001-01-01T00:00:00,0,None,0,0,0,0
11,641a1ecbfef90adb3a14034d,1096704,0,12326,New Royal China,Takeaway/sandwich shop,7844,48 Plumstead High Street,,Plumstead,...,0.088154,51.488745,None,0001-01-01T00:00:00,0,None,0,0,0,0
12,641a1ecbfef90adb3a140363,847090,0,PI/000199457,Tasty Chicken,Takeaway/sandwich shop,7844,24 Conway Road,,Plumstead,...,0.086102,51.487019,None,0001-01-01T00:00:00,0,None,0,0,0,0
13,641a1ecbfef90adb3a14036f,694214,0,PI/000036400,Super Fruits,Retailers - other,4613,18 Conway Road,,Plumstead,...,0.085887,51.487058,None,0001-01-01T00:00:00,0,None,0,0,0,0
14,641a1ecbfef90adb3a140375,1226528,0,13342,Apna Grill,Restaurant/Cafe/Canteen,1,14 Conway Road,,Plumstead,...,0.085759,51.487088,None,0001-01-01T00:00:00,0,None,0,0,0,0
15,641a1ecbfef90adb3a140376,1152320,0,12806,Flames Kebab Ltd trading as Morley's,Takeaway/sandwich shop,7844,191 Plumstead Common Road,,Plumstead,...,0.079680,51.481071,None,0001-01-01T00:00:00,0,None,0,0,0,0
16,641a1ecbfef90adb3a14037a,1031342,0,PI/000205344,Conway Road Supermarket,Retailers - other,4613,13 Conway Road,,Plumstead,...,0.085871,51.487337,None,0001-01-01T00:00:00,0,None,0,0,0,0
17,641a1ecbfef90adb3a14038b,1451406,0,14958,The Plum Tree Beer Shop,Pub/bar/nightclub,7843,154 Plumstead Common Road,,Plumstead,...,0.078661,51.480829,None,0001-01-01T00:00:00,0,None,0,0,0,0
18,641a1ecbfef90adb3a140397,695651,0,PI/000191153,Chef's House,Takeaway/sandwich shop,7844,128 Plumstead Common Road,,Plumstead,...,0.078506,51.480812,None,0001-01-01T00:00:00,0,None,0,0,0,0
19,641a1ecbfef90adb3a1403ac,1170962,0,PI/000117309,Adam Meats,Retailers - other,4613,7A Plumstead High Street,,Plumstead,...,0.086504,51.489449,None,0001-01-01T00:00:00,0,None,0,0,0,0
20,641a1ecbfef90adb3a1403c6,723994,0,PI/000069581,Cafe Deluxe,Restaurant/Cafe/Canteen,1,1A Griffin Road,,Plumstead,...,0.085765,51.489102,None,0001-01-01T00:00:00,0,None,0,0,0,0
21,641a1ecbfef90adb3a1403ce,1250850,0,13438,Malai Restaurant/Ghandi's/Sweet Sensationz/Jus...,Restaurant/Cafe/Canteen,1,8 Plumstead High Street,,Plumstead,...,0.085918,51.489315,None,0001-01-01T00:00:00,0,None,0,0,0,0
22,641a1ecbfef90adb3a1403d7,694625,0,PI/000117239,Mr Uncles Kebab,Restaurant/Cafe/Canteen,1,6 Plumstead High Street,,Plumstead,...,0.085833,51.489325,None,0001-01-01T00:00:00,0,None,0,0,0,0
23,641a1ecbfef90adb3a1403e0,1425256,0,14854,Northern Delight,Takeaway/sandwich shop,7844,122B Plumstead Common Road,,Plumstead,...,0.077133,51.481126,None,0001-01-01T00:00:00,0,None,0,0,0,0
24,641a1ecbfef90adb3a1403f2,694838,0,PI/000154235,Plumstead Radical Club,Pub/bar/nightclub,7843,Plumstead Radical Club 83 - 88 Walmer Terrace,,Plumstead,...,0.084697,51.489311,None,0001-01-01T00:00:00,0,None,0,0,0,0
25,641a1ecbfef90adb3a1403fe,1257205,0,13545,South Rise Primary School,School/college/university,7845,South Rise Primary School Brewery Road,,Plumstead,...,0.081129,51.486244,None,0001-01-01T00:00:00,0,None,0,0,0,0
26,641a1ecbfef90adb3a140402,694128,0,PI/000020389,Nisa Local,Retailers - other,4613,15 Brewery Road,,Plumstead,...,0.080931,51.486192,None,0001-01-01T00:00:00,0,None,0,0,0,0
27,641a1ecbfef90adb3a14040a,1300359,0,13959,Brew Station,Restaurant/Cafe/Canteen,1,158A Plumstead Road,,Woolwich,...,0.084676,51.489943,None,0001-01-01T00:00:00,0,None,0,0,0,0
28,641a1ecbfef90adb3a14040e,694266,0,PI/000051400,Emmaus Greenwich,Restaurant/Cafe/Canteen,1,226 Elmley Street,,Plumstead,...,0.082062,51.487423,None,0001-01-01T00:00:00,0,None,0,0,0,0
29,641a1ecbfef90adb3a140422,1077916,0,PI/000207576,Cafe Royal,Restaurant/Cafe/Canteen,1,155 Plumstead Road,,Woolwich,...,0.084399,51.490027,None,0001-01-01T00:00:00,0,None,0,0,0,0
30,641a1ecbfef90adb3a140424,695536,0,PI/000188194,AK Grills,Takeaway/sandwich shop,7844,154 Plumstead Road,,Woolwich,...,0.084343,51.490061,None,0001-01-01T00:00:00,0,None,0,0,0,0
31,641a1ecbfef90adb3a140425,850356,0,PI/000199672,Premier Fruit and Veg Ltd,Retailers - other,4613,13 Brewery Road,,Plumstead,...,0.080404,51.486221,None,0001-01-01T00:00:00,0,None,0,0,0,0
32,641a1ecbfef90adb3a140440,694634,0,PI/000117468,Plumstead Food & Wine,Retailers - other,4613,141 Plumstead Road,,Woolwich,...,0.083456,51.490201,None,0001-01-01T00:00:00,0,None,0,0,0,0
33,641a1ecbfef90adb3a1404e8,947998,0,PI/000202511,GMT Kitchen and Cafe,Restaurant/Cafe/Canteen,1,95 Plumstead Road,,Woolwich,...,0.078742,51.490333,None,0001-01-01T00:00:00,0,None,0,0,0,0
34,641a1ecbfef90adb3a14059e,1385142,0,14492,Heronsgate Primary School Royal Arsenal Campus,School/college/university,7845,Heronsgate Primary School Burrage Grove Campus...,,Plumstead,...,0.074075,51.489849,None,0001-01-01T00:00:00,0,None,0,0,0,0
35,641a1ecbfef90adb3a1405ad,1156702,0,12845,PLOT Roasting,Other catering premises,7841,Unit 38 The I O Centre Armstrong Road,,Woolwich,...,0.077059,51.493586,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [197]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
hygiene_0_query = {'$match' : {'scores.Hygiene' : {'$eq' : 0}}}
#hygiene_0_query = {'scores.Hygiene' : 0}

# 2. Groups the matches by Local Authority
group_query = {'$group' : {'_id' : '$LocalAuthorityName', 'count' : {'$sum' : 1}}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort' : {'count': -1}}

In [198]:
#putting the pipeline together
pipeline = [hygiene_0_query, group_query, sort_values]

In [199]:
#creating a result variable
results = list(establishments.aggregate(pipeline))

In [201]:
# Print the number of documents in the result
print(f'there are {len(results)} documents in the result')

# Print the first 10 results
pprint(results[0:10])

there are 55 documents in the result
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [202]:
# Convert the result to a Pandas DataFrame
grouped_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(f"there are {len(grouped_df.index)} rows in this dataframe")
# Display the first 10 rows of the DataFrame
grouped_df.head(10)

there are 55 rows in this dataframe

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542